<style>
  body {
    background-color: grey;
    color: black;
    font-family: garamond;
  }
  p {
    font-size: 45px;
  }
  img.rounded-corners {
    border-radius: 90px
  }
  table, th, td {
border: 3px solid grey;
}
th, td {
padding: 20px;
}
h2 {
  color: grey;
  font-size: 30px;
  font-family: garamond;
}
li {
  color: purple;
  font-family: garamond;
  font-size: 20px;
}
#Berlin {
  color: red;
}
.anything.else {
  color: blue
}
#London {
  color: black;
}
.button {
  background-color: white;
  width: 100px;
  height: 50px;
  color: purple;
  padding: 5px;
  font-size: 16px;
  border-radius: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover {
  background-color: grey;
  color: black;
}
</style>
